.container{
  width: 200px;
  border-radius: 8px;
  padding: 20px 20px;
  
  box-shadow: 0px 0px 5px 0px rgba(32,37,49,1);
}
  .description {
    
    font-size: 16px;
    margin: 0px 0px 30px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    
  }
  .buttonContainer {
    display: flex;
    gap: 30px;
    justify-content: center;

  }
  .button{
    padding: 8px 14px;
  background-color: #202531;
  color: white;
  border-radius: 8px; 
  cursor: pointer;
   }
  
  
  
  
 
  
  
  