.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  color: white;
  font-weight: 500;
}

.username {
  font-weight: 700;
}
.button {
  padding: 6px 14px;
  color: #1976d2;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
